<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MIA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Reporting" publicKeyToken="a9d7983dfcc261be" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.21.616" newVersion="15.1.21.616"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MIA.My.MySettings>
      <setting name="setServerHost" serializeAs="String">
        <value>192.168.191.22</value>
      </setting>
      <setting name="setDBName" serializeAs="String">
        <value>dbMIA</value>
      </setting>
      <setting name="setDBUID" serializeAs="String">
        <value>feap</value>
      </setting>
      <setting name="setDBPWD" serializeAs="String">
        <value>45|iF$</value>
      </setting>
      <setting name="setTheme" serializeAs="String">
        <value>CrystalDark</value>
      </setting>
      <setting name="setLCSTemplate" serializeAs="String">
        <value />
      </setting>
      <setting name="setSRCModel" serializeAs="String">
        <value>TMR-051</value>
      </setting>
      <setting name="setSRCLine" serializeAs="String">
        <value>1</value>
      </setting>
    </MIA.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
